<h3><%= @list.name %></h3>

<h4> List Items </h4>

<div class="container">
  <table class="table-bordered">
    <tr>
      <th>Item</th>
      <th>Date of Auto Remove</th>
      <th>Remove</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <td>      
        <%= "#{item.name}" %>
      </td>
      <td>       
        <%= Date.current + 7.days %>        
      </td>
      <td>
        <%= check_box_tag(:remove) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<hr>
<hr>
<div class="container">
  <h3> Enter New Item </h3>
  <%= render partial: "items/form", locals: {list: @list, item: @item} %>
</div>